	<!-- Título de la pestaña -->
	<title><%= titulo %></title>

	<!-- ESTILOS PERSONALIZADOS - Particulares -->
	<link rel='stylesheet' href='/stylesheets/1-Secciones/0-Header-Main-y-Footer.css' />
	<link rel='stylesheet' href='/stylesheets/1-Secciones/1-inicio.css' />
	<link rel='stylesheet' href='/stylesheets/1-Secciones/2-habilitaciones.css' />
	<link rel='stylesheet' href='/stylesheets/1-Secciones/3-proyectos.css' />
	<link rel='stylesheet' href='/stylesheets/1-Secciones/4-servicios.css' />
	<link rel='stylesheet' href='/stylesheets/1-Secciones/5-quienes_somos.css' />
	<link rel='stylesheet' href='/stylesheets/1-Secciones/6-contactanos.css' />
	<link rel='stylesheet' href='/stylesheets/0-Base/Media-Queries.css' />

	<!-- SCRIPTS -->
	<script src="/javascripts/0-homeSecciones/1-inicio.js"></script>
	<script src="/javascripts/0-homeSecciones/3-proyectos.js"></script>
	<script src="/javascripts/0-homeSecciones/6-contactanos.js"></script>
</head>
