	<!-- Título de la pestaña -->
	<title><%= titulo %></title>

	<!-- ESTILOS PERSONALIZADOS - Particulares -->
	<link rel='stylesheet' href='/stylesheets/2-Editar/0-editar.css' />
	<link rel='stylesheet' href='/stylesheets/2-Editar/1-editarHome.css' />

	<!-- SCRIPTS -->
	<script src="/javascripts/1-editarHome/4-homeColorFilas.js"></script>
	<script src="/javascripts/1-editarHome/3-homeColorEnc.js"></script>
	<script src="/javascripts/1-editarHome/1-homeOrden.js"></script>
	<script src="/javascripts/1-editarHome/2-homeTexto.js"></script>
</head>
