<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width", initial-scale=1.0>

		<!-- Título de la pestaña -->
		<title><%= titulo %></title>

		<!-- NORMALIZE-->
		<link rel='stylesheet' href='/stylesheets/0-Base/Normalize.css' />
		<!-- SÍMBOLOS-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

		<!-- ESTILOS PERSONALIZADOS - Generales -->
		<link rel='stylesheet' href='/stylesheets/0-Base/Clases.css' />
		<link rel='stylesheet' href='/stylesheets/0-Base/Fonts.css' />
		<link rel='stylesheet' href='/stylesheets/0-Base/Media-Queries.css' />
		<link rel='stylesheet' href='/stylesheets/0-Base/Varios.css' />

		<!-- ESTILOS PERSONALIZADOS - Particulares -->
		<link rel='stylesheet' href='/stylesheets/1-Secciones/0-Header-Main-y-Footer.css' />
		<link rel='stylesheet' href='/stylesheets/1-Secciones/1-inicio.css' />
		<link rel='stylesheet' href='/stylesheets/1-Secciones/2-habilitaciones.css' />
		<link rel='stylesheet' href='/stylesheets/1-Secciones/3-proyectos.css' />
		<link rel='stylesheet' href='/stylesheets/1-Secciones/4-servicios.css' />
		<link rel='stylesheet' href='/stylesheets/1-Secciones/5-quienes_somos.css' />
		<link rel='stylesheet' href='/stylesheets/1-Secciones/6-contactanos.css' />

		<!-- SCRIPTS -->
		<script src="/javascripts/1-secciones/1-inicio.js"></script>
		<script src="/javascripts/1-secciones/3-proyectos.js"></script>
		<script src="/javascripts/1-secciones/6-contactanos.js"></script>
	</head>
