	<!-- Título de la pestaña -->
	<title><%= titulo %></title>

	<!-- ESTILOS PERSONALIZADOS - Particulares -->
	<link rel='stylesheet' href='/stylesheets/2-Editar/1-editarHome.css' />

	<!-- SCRIPTS -->
	<script src="/javascripts/2-editar/4-homeColor-filas.js"></script>
	<script src="/javascripts/2-editar/3-homeColor-enc.js"></script>
	<script src="/javascripts/2-editar/1-homeOrden.js"></script>
	<script src="/javascripts/2-editar/2-homeInputs.js"></script>
</head>
