<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width", initial-scale=1.0>

		<!-- Título de la pestaña -->
		<title><%= titulo %></title>

		<!-- NORMALIZE-->
		<link rel='stylesheet' href='/stylesheets/0-Base/Normalize.css' />
		<!-- SÍMBOLOS-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

		<!-- ESTILOS PERSONALIZADOS - Generales -->
		<link rel='stylesheet' href='/stylesheets/0-Base/Clases.css' />
		<link rel='stylesheet' href='/stylesheets/0-Base/Fonts.css' />
		<link rel='stylesheet' href='/stylesheets/0-Base/Media-Queries.css' />
		<link rel='stylesheet' href='/stylesheets/0-Base/Varios.css' />

		<!-- ESTILOS PERSONALIZADOS - Particulares -->
		<link rel='stylesheet' href='/stylesheets/2-Editar/1-editarHome.css' />

		<!-- SCRIPTS -->
		<script src="/javascripts/2-editar/1-orden.js"></script>

	</head>
