	<!-- Título de la pestaña -->
	<title><%= titulo %></title>

	<!-- ESTILOS PERSONALIZADOS - Particulares -->
	<link rel='stylesheet' href='/stylesheets/2-Editar/0-editar.css' />
	<link rel='stylesheet' href='/stylesheets/2-Editar/2-editarColores.css' />

	<!-- SCRIPTS -->
	<script src="/javascripts/2-editarColores/1-coloresNombre.js"></script>
	<script src="/javascripts/2-editarColores/2-coloresAgregar.js"></script>
	<script src="/javascripts/2-editarColores/3-coloresEliminar.js"></script>
</head>
