	<!-- Título de la pestaña -->
	<title><%= titulo %></title>

	<!-- ESTILOS PERSONALIZADOS - Particulares -->
	<link rel='stylesheet' href='/stylesheets/2-Editar/0-editar.css' />
	<link rel='stylesheet' href='/stylesheets/2-Editar/3-editarTexto.css' />

	<!-- SCRIPTS -->
	<script src="/javascripts/3-editarTextos/1-textoOrden.js"></script>
	<script src="/javascripts/3-editarTextos/2-textoTexto.js"></script>
</head>
