	<!-- Título de la pestaña -->
	<title><%= titulo %></title>

	<!-- ESTILOS PERSONALIZADOS - Particulares -->
	<link rel='stylesheet' href='/stylesheets/2-Editar/0-editar.css' />
	<link rel='stylesheet' href='/stylesheets/2-Editar/3-editarTexto.css' />

	<!-- SCRIPTS -->
	<script src="/javascripts/3-editarTextos/0-textoOrden.js"></script>
	<script src="/javascripts/3-editarTextos/1-textoAgregar.js"></script>
	<script src="/javascripts/3-editarTextos/2-textoModificar.js"></script>
	<script src="/javascripts/3-editarTextos/3-textoEliminar.js"></script>
</head>
