	<!-- Título de la pestaña -->
	<title><%= titulo %></title>

	<!-- ESTILOS PERSONALIZADOS - Particulares -->
	<link rel='stylesheet' href='/stylesheets/2-Editar/0-editar.css' />
	<link rel='stylesheet' href='/stylesheets/2-Editar/3-editarTexto.css' />

	<!-- SCRIPTS -->
	<script src="/javascripts/2-editar/5-coloresNombre.js"></script>
	<script src="/javascripts/2-editar/6-coloresAgregar.js"></script>
	<script src="/javascripts/2-editar/7-coloresEliminar.js"></script>
</head>
