	<!-- Título de la pestaña -->
	<title><%= titulo %></title>

	<!-- ESTILOS PERSONALIZADOS - Particulares -->
	<link rel='stylesheet' href='/stylesheets/2-Editar/0-editar.css' />
	<link rel='stylesheet' href='/stylesheets/2-Editar/3-editarTexto.css' />
	<link rel='stylesheet' href='/stylesheets/2-Editar/4-editarImagenes.css' />

	<!-- SCRIPTS -->
	<!-- <script src="/javascripts/4-editarImagenes/1-imagenAgregar.js"></script>
	<script src="/javascripts/4-editarImagenes/2-imagenModificar.js"></script> -->
	<script src="/javascripts/4-editarImagenes/3-imagenEliminar.js"></script>
</head>
