#titulo {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

#titulo h2, #titulo .fa-trash-alt {
	margin: 30px 10px 10px;
}

#titulo h2 {
	font-weight: bold;
	font-size: 1.5rem;
	color: #009879;
}

#editar_texto #tabla tbody input {
	width: 500px
}

#editar_texto #tabla tbody tr:nth-of-type(odd) {
	background-color: white;
}

#editar_texto #tabla tbody tr:nth-of-type(even) {
	background-color: #f3f3f3;
}

#editar_texto #tabla tbody tr:last-of-type {
	border-bottom: 2px solid #009879;
}

.botones {
	margin-top: 10px;
}

#botones {
	margin-top: 50px;
	margin-bottom: 50px;
}