<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width", initial-scale=1.0>

		<!-- Título de la pestaña -->
		<title><%= title %></title>

		<!-- NORMALIZE-->
		<link rel='stylesheet' href='/stylesheets/Base/Normalize.css' />
		<!-- SÍMBOLOS-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

		<!-- ESTILOS PERSONALIZADOS - Generales -->
		<link rel='stylesheet' href='/stylesheets/Base/Clases.css' />
		<link rel='stylesheet' href='/stylesheets/Base/Colores.css' />
		<link rel='stylesheet' href='/stylesheets/Base/Fonts.css' />
		<link rel='stylesheet' href='/stylesheets/Base/Media-Queries.css' />
		<link rel='stylesheet' href='/stylesheets/Base/Varios.css' />

		<!-- ESTILOS PERSONALIZADOS - Generales -->
		<link rel='stylesheet' href='/stylesheets/Secciones/0-Header-Main-y-Footer.css' />
		<link rel='stylesheet' href='/stylesheets/Secciones/1-inicio.css' />
		<link rel='stylesheet' href='/stylesheets/Secciones/2-habilitaciones.css' />
		<link rel='stylesheet' href='/stylesheets/Secciones/3-proyectos.css' />
		<link rel='stylesheet' href='/stylesheets/Secciones/4-servicios.css' />
		<link rel='stylesheet' href='/stylesheets/Secciones/5-quienes_somos.css' />
		<link rel='stylesheet' href='/stylesheets/Secciones/6-contactanos.css' />

		<script src="/javascripts/0-encabezado.js"></script>
		<script src="/javascripts/1-inicio.js"></script>
		<script src="/javascripts/3-proyectos.js"></script>
		<script src="/javascripts/6-contactanos.js"></script>
	</head>
