<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width", initial-scale=1.0>

		<!-- Título de la pestaña -->
		<title><%= title %></title>

		<!-- NORMALIZE-->
		<link rel='stylesheet' href='/stylesheets/Normalize.css' />

		<!-- ESTILOS PERSONALIZADOS-->
		<link rel='stylesheet' href='/stylesheets/Clases.css' />
		<link rel='stylesheet' href='/stylesheets/Colores.css' />
		<link rel='stylesheet' href='/stylesheets/Fonts.css' />
		<link rel='stylesheet' href='/stylesheets/Header-y-Footer.css' />
		<link rel='stylesheet' href='/stylesheets/Main.css' />
		<link rel='stylesheet' href='/stylesheets/Media-Queries.css' />
	</head>
