<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width", initial-scale=1.0>

		<!-- Título de la pestaña -->
		<title><%= title %></title>

		<!-- NORMALIZE-->
		<link rel='stylesheet' href='/stylesheets/Base/Normalize.css' />

		<!-- ESTILOS PERSONALIZADOS - Generales -->
		<link rel='stylesheet' href='/stylesheets/Base/Clases.css' />
		<link rel='stylesheet' href='/stylesheets/Base/Colores.css' />
		<link rel='stylesheet' href='/stylesheets/Base/Fonts.css' />
		<link rel='stylesheet' href='/stylesheets/Base/Header-y-Footer.css' />
		<link rel='stylesheet' href='/stylesheets/Base/Main.css' />
		<link rel='stylesheet' href='/stylesheets/Base/Media-Queries.css' />
		<link rel='stylesheet' href='/stylesheets/Base/Varios.css' />

		<!-- ESTILOS PERSONALIZADOS - Generales -->
		<link rel='stylesheet' href='/stylesheets/1-inicio.css' />
		<link rel='stylesheet' href='/stylesheets/2-habilitaciones.css' />
		<link rel='stylesheet' href='/stylesheets/3-proyectos.css' />
		<link rel='stylesheet' href='/stylesheets/4-servicios.css' />
		<link rel='stylesheet' href='/stylesheets/5-quienes_somos.css' />
		<link rel='stylesheet' href='/stylesheets/6-contactanos.css' />

		<script src="/javascripts/proyectos.js"></script>

	</head>
