<%- include('2-editarHead', {titulo: "Edición - Menú Principal"}) %>
<body>
	<header>Edición - Menú Principal</header>
	<main>
		<div class="container">
			<div class="item item-1"> </div>
			<div class="item item-2"> </div>
			<div class="item item-3"> </div>
		</div>
	</main>
</body>
</html>