<%- include('2-editarHead', {titulo: "Edición - Menú Principal"}) %>
<body>
	<header>Edición - Menú Principal</header>
	<main>
		<table>
			<thead>
				<tr>
					<th>Sección</th>
					<th>Orden</th>
					<th>Nombre en el Encabezado</th>
					<th>Nombre en la Sección</th>
					<th>Color de Fondo</th>
					<th>Color de Letras</th>
					<th>Imagen Individual</th>
					<th>Editar Texto</th>
					<th>Editar Imágenes</th>
				</tr>
			</thead>
			<tbody>
				
			</tbody>
		</table>
	</main>
</body>
</html>