header {
	position: fixed;
	width: 100vw;
	top: 0;
	z-index: 9;
}

header nav {
	background-color: var(--gris-oscuro);
	padding: 10px 15px;
	font-weight: bold;
	flex-grow: 1;
	text-align: center;
	border: 2px solid var(--blanco-letras);
}

header nav a {
	color: var(--blanco-letras);
	font-size: 22px;
}

main {
	margin-top: 50px;
}

.seccion {
	padding: 50px;
}

footer {
	background-color: var(--amarillo-oscuro);
	padding: 5px 15px;
}

footer p {
	color: var(--gris-letras);
	font-size: 0.9rem;
	font-style: italic;
}