main #inicio {
	display: flex;
	flex-direction: row;
}

main #inicio .texto {
	width: 50vw
}

main #inicio .texto h1 {
	margin-bottom: 0;
}

main #inicio .texto h2 {
	font-size: 2em;
	margin-top: 0;
}

main #inicio .imagenes {
	width: 50vw;
	position: relative;
}
