main #habilitaciones {
	display: flex;
	flex-direction: row;
}

main #habilitaciones #texto {
	width: 45vw;
}

main #habilitaciones #texto #comentarioH1 {
	margin-top: .5rem;
	line-height: 1.5rem;
}

main #habilitaciones #texto h2 {
	font-size: 1.2rem;
	margin-bottom: 0;
}

main #habilitaciones #imagenes {
	position: relative;
	display: flex;
	flex-grow: 1;
	flex-direction: row;
	justify-content: center;
	overflow: hidden;
}

main #habilitaciones #imagenes img {
	position: absolute;
	height: 100%;
	width: auto;
}