main #proyectos {
	display: flex;
	flex-direction: row;
}

main #proyectos #texto {
	display: flex;
	flex-direction: column;
	width: 45vw;
}

main #proyectos #texto h1 {
	margin-bottom: 0;
}

main #proyectos #texto #botones {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	flex-grow: 1;
	margin: 25px;
}

main #proyectos #texto #botones button {
	padding: 20px;
	font-weight: bold;
	font-size: 1rem;
	border-radius: 10px;
	background-color: var(--gris-oscuro);
	color: white;
}

main #proyectos #imagen {
	display: flex;
	flex-direction: row;
	/* flex-grow: 1; */
	width: 50vw;
	height: 535px;
}

main #proyectos #imagen div {
	height: 100%;
	width: 100%;
    position: relative;
	overflow: hidden;
}

main #proyectos #imagen div img {
	position: absolute;
	height: 100%;
	width: auto;
	min-width: 70%;
}

main #proyectos #imagen div img#uno {animation: banner1 15s infinite normal;}
main #proyectos #imagen div img#dos {animation: banner2 15s infinite normal;}
main #proyectos #imagen div img#tres {animation: banner3 15s infinite normal;}

@keyframes banner1 {0%, 23% {opacity: 1} 33%, 56% {opacity: 0} 66%, 90% {opacity: 0} 100% {opacity: 1;}}
@keyframes banner2 {0%, 23% {opacity: 0} 33%, 56% {opacity: 1} 66%, 90% {opacity: 0} 100% {opacity: 0;}}
@keyframes banner3 {0%, 23% {opacity: 0} 33%, 56% {opacity: 0} 66%, 90% {opacity: 1} 100% {opacity: 0;}}
