main #proyectos {
	display: flex;
	flex-direction: row;
}

main #proyectos #texto {
	display: flex;
	flex-direction: column;
	width: 45vw;
}

main #proyectos #texto h1 {
	margin-bottom: 0;
}

main #proyectos #texto #botones {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	flex-grow: 1;
	margin: 25px;
}

main #proyectos #texto #botones button {
	padding: 20px;
	font-weight: bold;
	font-size: 1.5rem;
	background-color: transparent;
	color: var(--gris-letras);
	border: 2px var(--gris-letras) solid;
	width: 350px;
}

main #proyectos #imagen {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	height: 535px;
}

main #proyectos #imagen .grupo {
	height: 100%;
	width: 100%;
    position: relative;
	overflow: hidden;
	justify-content: center;
}

main #proyectos #imagen .grupo figcaption {
	position: absolute;
	bottom: 0px;
	background-color: var(--gris-letras);
	color: aliceblue;
	padding: 10px 15px;
	border-radius: 10px;
}

main #proyectos #imagen .grupo img {
	position: absolute;
	height: 100%;
	width: auto;
	min-width: 70%;
}

@keyframes banner1 {0%, 23% {opacity: 1} 33%, 56% {opacity: 0} 66%, 90% {opacity: 0} 100% {opacity: 1;}}
@keyframes banner2 {0%, 23% {opacity: 0} 33%, 56% {opacity: 1} 66%, 90% {opacity: 0} 100% {opacity: 0;}}
@keyframes banner3 {0%, 23% {opacity: 0} 33%, 56% {opacity: 0} 66%, 90% {opacity: 1} 100% {opacity: 0;}}
