main #quienes_somos {
	display: flex;
	flex-direction: column;
}

main #quienes_somos h2 {
	margin-bottom: 0;
}

main #quienes_somos #titulo {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

main #quienes_somos #titulo #texto {
	padding-right: 25px;
	width: 0%;
	flex-grow: 1;
}

main #quienes_somos #titulo #texto ul {
	margin: 0;
}

main #quienes_somos #titulo #texto li {
	line-height: 1.5rem;
	margin-top: .5rem;
	margin-left: -40px;
	list-style: none;
}

main #quienes_somos #titulo #imagen {
	position: relative;
	width: 250px;
	overflow: hidden;
	border-radius: 30px;
}

main #quienes_somos #titulo #imagen img {
	height: 100%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

main #quienes_somos #clientes ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding: 0;
	margin: 0;
}

main #quienes_somos #clientes ul li {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 20px 10px;
	width: 200px;
	list-style: none;
	border-radius: 20px;
}

main #quienes_somos #clientes ul li img {
	width: 100%;
	height: auto;
	margin: 0;
}
