main #quienes_somos {
	display: flex;
	flex-direction: row;
}

main #quienes_somos #texto {
	padding-right: 25px;
}

main #quienes_somos #texto li {
	line-height: 1.5rem;
	margin-top: .5rem;
}

main #quienes_somos #imagen {
	padding-right: 150px;
}

main #quienes_somos img {
	height: 100%;
}