<%- include('head', {titulo: title}) %>
	<body>
		<header class="flex-row">
			<% for (n of titulos_encabezado) { %>
				<div class="flex-row">
					<%= n %> 
				</div>
			<% } %> 
		</header>
		<h1><%= title %></h1>
		<p>Welcome to <%= title %></p>
	</body>
</html>
