/* COLORES */
body {
	--amarillo-claro:RGB(255,242,204);
	--amarillo-oscuro: #f1c757;
	--azul: RGB(37,64,97);
	--azul-frances: RGB(31,73,125);
	--blanco-letras: RGB(242,242,242);
	--celeste-claro: RGB(220,230,242);
	--celeste-oscuro: #C7D7EA;
	--gris-claro: RGB(242,242,242);
	--gris-oscuro: #828383;
	--gris-letras: RGB(118, 113, 113);
	/* --gris-letras: RGB(127,127,127); */
	--naranja-oscuro: #F57C00;
	--rojo: RGB(192,80,77);
	--rojo-claro: (251,229,214);
	--verde:RGB(79,98,40);
	--verde-claro: RGB(226,240,217)
}