/* FONTS */
body {--OpenSans: Open Sans, Calibri}

/* GENERAL */
*, body, optgroup, button, select, option, input, i {
	font-family: var(--OpenSans);
}

p {
	font-size: 1rem;
}

h1 {
	font-size: 2rem;
	margin-top: .25rem;
}