header {
	position: fixed;
	width: 100vw;
	top: 0;
	z-index: 9;
}
main {
	margin-top: 50px;
}
header nav {
	background-color: var(--gris-oscuro);
	padding: 10px 15px;
	font-weight: bold;
	flex-grow: 1;
	text-align: center;
	border: 2px solid white;
}

header nav a {
	color: RGB(242,242,242);
	font-size: 22px;
}