main #habilitaciones {
	display: flex;
	flex-direction: row;
}

main #habilitaciones .texto {
	width: 45vw;
}

main #habilitaciones .texto h2 {
	font-size: 1.2rem;
	margin-bottom: 0;
}

main #habilitaciones .imagenes {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 55vw;
	overflow: hidden;
}

main #habilitaciones .imagenes img {
	position: absolute;
	height: 100%;
	width: auto;
}