main #habilitaciones {
	display: flex;
	flex-direction: row;
}

main #habilitaciones .texto {
	padding: 50px 50px;
	width: 45vw;
}

main #habilitaciones .imagenes {
	display: flex;
	flex-direction: column;
	width: 55vw;
	overflow: hidden;
}

main #habilitaciones .imagenes img {
	
}

main #habilitaciones h2 {
	font-size: 1.2rem;
	margin-bottom: 0;
}
