#habilitaciones {
	display: flex;
	flex-direction: row;
}

#habilitaciones #texto {
	width: 45vw;
	box-sizing: border-box;
	padding-right: 15px;
}

#habilitaciones #texto #comentarioH1 {
	margin-top: .5rem;
	line-height: 1.5rem;
}

#habilitaciones #texto h2 {
	font-size: 1.2rem;
	margin-bottom: 0;
}

#habilitaciones #imagen {
	position: relative;
	display: flex;
	flex-grow: 1;
	flex-direction: row;
}

#habilitaciones #imagen img {
	position: absolute;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

@media (max-width: 1000px) {
	#habilitaciones {
		flex-direction: column;
	}

	#habilitaciones #texto {
		width: 100%;
		padding-right: 0;
	}

	#habilitaciones #texto ul {
		padding-left: 20px;
	}

	#habilitaciones #imagen {
		width: 100%;
		min-height: 90wh;
	}

}

