#proyectos {
	display: flex;
	flex-direction: row;
}

#proyectos #texto {
	display: flex;
	flex-direction: column;
	width: 45vw;
	align-items: flex-start;
}

#proyectos #texto h1 {
	margin-bottom: 0;
	margin-right: 20px;
}

#proyectos #texto #botones {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	flex-grow: 1;
	margin: 25px 0;
}

#proyectos #texto #botones button {
	padding: 20px;
	font-weight: bold;
	font-size: 1.5rem;
	border: 2px solid;
	width: 350px;
}

#proyectos #imagen {
	display: flex;
	flex-direction: row;
	width: 45vw;
	height: 40vw;
}

#proyectos #imagen .grupo {
	height: 100%;
	width: 100%;
    position: relative;
	overflow: hidden;
	justify-content: center;
}

#proyectos #imagen .grupo figcaption {
	position: absolute;
	bottom: 0px;
	color: aliceblue;
	padding: 10px 15px;
	border-radius: 10px;
}

#proyectos #imagen .grupo img {
	position: absolute;
	height: 100%;
	width: auto;
	min-width: 70%;
}

@media (max-width: 900px) {
	#proyectos #texto {
		width: min-content;
		flex-grow: 1;
	}

	#proyectos #texto #botones button {
		padding: 10px;
		min-width: 130px;
		max-width: 300px;
		width: 80%;
		font-size: 1rem;
	}

	#proyectos #imagen {
		width: 400px;
		height: 360px;
	}
}

@media (max-width: 700px) {
	#proyectos {
		flex-direction: column;
	}

	#proyectos #texto {
		width: 100%;
	}

	#proyectos #texto #botones {
		flex-direction: row;
	}

	#proyectos #texto #botones button {
		width: 25%;
	}

	#proyectos #imagen {
		width: 90vw;
		height: 75vw;
		max-height: 90vh;
		max-width: 108vh;
		margin: auto;
	}

	#proyectos #imagen .grupo figcaption {
		padding: 5px 10px;
	}

}

@media (min-width: 501px) {
	#proyectos #texto .fa-bars,
	#proyectos #texto #menu-proyectos {
		display: none;
	}	
}

@media (max-width: 500px) {
	#proyectos #texto {
		flex-direction: row;
		justify-content: space-around;
		position: relative;
	}

	#proyectos #texto #botones {
		display: none;
	}

	#proyectos #texto .fa-bars {
		padding: 5px;
		border-radius: 5px;
		font-size: 0.9rem;
		border: 1px solid;
	}

	#proyectos #imagen {
		margin-top: 15px;
	}

	/* Menú */
	#proyectos #texto .dropdown-content {
		position: absolute;
		top: 25px;
		padding: 4px 0;
		border: 2px solid;
		z-index: 2;
	}
	#proyectos #texto .dropdown-content nav {
		padding: 4px 16px;
		display: block;
	}
	#proyectos #texto #menu-proyectos {right: 0px;}
}

@keyframes banner1 {0%, 23% {opacity: 1} 33%, 56% {opacity: 0} 66%, 90% {opacity: 0} 100% {opacity: 1;}}
@keyframes banner2 {0%, 23% {opacity: 0} 33%, 56% {opacity: 1} 66%, 90% {opacity: 0} 100% {opacity: 0;}}
@keyframes banner3 {0%, 23% {opacity: 0} 33%, 56% {opacity: 0} 66%, 90% {opacity: 1} 100% {opacity: 0;}}