header {
	background-color: #223063;
	text-align: left;
	color: wheat;
	padding: 10px;
	font-weight: bold;
	position: fixed;
	top: 0;
	width: 100%;
}

body {
	background-color: wheat;
}

main {
	padding-top: 50px;
	padding-bottom: 50px;
}

h2 {
	margin: 20px auto 10px;
	text-align: center;
	font-weight: bold;
	font-size: 1.5rem;
	color: #009879;
}

#tabla {
	border-collapse: collapse;
	margin: 0 auto;
	border-radius: 15px;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	text-align: left;
}

#tabla,
#tabla input, 
#tabla select{
	font-size: 0.9rem;
	line-height: 0.9;
}

#tabla input, 
#tabla select{
	cursor: pointer;
	border: none;
	background-color: transparent;
}

#tabla thead tr {
	background-color: #009879;
	color: #ffffff;
	font-weight: bold;
	line-height: 1.25;
	border-bottom: white 2px solid;
}

#tabla thead tr th {
	padding: 8px 10px;
}

#tabla tbody tr {
	border-bottom: 1px solid #dddddd;
}

#tabla tbody tr td {
	padding: 10px 10px;
}

/* Accesorios */
#tabla .flechas .fas {
	color: gray;
	margin: 2px;
	cursor: pointer;
}

#tabla select {
	appearance: none;
	padding: 5px;
}

#tabla .fa-check-circle {
	color: green;
	cursor: pointer;
}

#tabla .fa-times-circle {
	color: red;
}

#botones, .botones {
	display: flex;
	justify-content: space-evenly;
	width: 600px;
	margin: auto;
	margin-top: 30px;
}

#botones i, .botones i {
	color: #223063;
	font-size: 1.5rem;
}

.rojo,
#tabla .rojo {
	background-color: red; 
	color: white;
}

.verde {
	background-color: green;
	color: white;
	cursor: pointer;
}

.fa-trash-alt {
	padding-left: 5px;
	padding-right: 5px;
	color: red;
}
