h1 {
	margin: 20px;
	text-align: center;
	font-weight: bold;
	font-size: 1.5rem;
	color: #009879;
}

body {
	background-color: wheat;
}

#tabla {
	border-collapse: collapse;
	margin: 0 auto;
	border-radius: 15px;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	text-align: left;
}

#tabla,
#tabla input, 
#tabla select{
	font-size: 0.9rem;
	line-height: 0.9;
}

#tabla input, 
#tabla select{
	cursor: pointer;
}

#tabla thead tr {
	background-color: #009879;
	color: #ffffff;
	font-weight: bold;
	line-height: 1.25;
	border-bottom: white 2px solid;
}

#tabla thead tr th {
	padding: 8px 10px;
}

#tabla tbody tr {
	border-bottom: 1px solid #dddddd;
}

#tabla tbody tr td {
	padding: 10px 10px;
}

/* Accesorios */
#tabla .flechas .fas {
	color: gray;
	margin: 2px;
	cursor: pointer;
}

#editar_home .fas {
	border: 1px white solid;
	border-radius: 50%;
	background-color: white;
}

#tabla select {
	appearance: none;
	padding: 5px;
}

#tabla .td_imagen {
	padding: 0;
}

#tabla .td_imagen .div_imagen {
	max-height: 60px;
	width: 120px;
	display: flex;
	align-items: center;
	overflow: hidden;
	border: 1px gray solid;
}

#tabla .td_imagen .div_imagen img {
	height: 100%;
	width: 100%;
}

#tabla .fa-check-circle {
	color: green;
	cursor: pointer;
}

#tabla .fa-times-circle {
	color: red;
}

#botones, .botones {
	display: flex;
	justify-content: space-evenly;
	width: 600px;
	margin: auto;
	margin-top: 30px;
}

#botones i, .botones i {
	color: RGB(118, 113, 113);
	font-size: 1.5rem;
}

.rojo {
	background-color: red; 
	color: white;
}

.verde {
	background-color: green;
	color: white;
	cursor: pointer;
}
