/* Accesorios */
#editar_home #tabla input,
#editar_home #tabla select {
	border: none;
	background-color: transparent;
}

#tabla input[name="nombre_encabezado"] {
	width:140px
}

#editar_home #tabla .td_imagen {
	padding: 0;
}

#editar_home #tabla .td_imagen form {
	max-height: 60px;
	min-height: 44px;
	width: 120px;
	display: flex;
	align-items: center;
	overflow: hidden;
}

#tabla .td_imagen img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

#editar_home #tabla .fa-check-circle {
	color: green;
}

#editar_home #tabla .fa-times-circle {
	color: red;
}

#editar_home .fas {
	border: 1px white solid;
	border-radius: 50%;
	background-color: white;
}

#editar_home #tabla button,
#editar_home #tabla button .fa-save {
	background-color: transparent;
	color: white;
	border: none;
}