#editar_colores #tabla,
#editar_colores #tabla input, 
#editar_colores #tabla select{
	color: gray;
}

/* Accesorios */
#editar_colores #tabla input,
#editar_colores #tabla select {
	border: none;
	background-color: transparent;
	cursor: pointer;
}

#editar_colores #tabla input:focus,
#editar_colores #tabla select:focus {
	background-color: #EDF9F8;
	color: #3A4B8C;
}

#tabla tr {
	background-color: white;
}

#editar_colores #tabla tr td #muestra {
	border: .5px lightgray solid;
}

#editar_colores #tabla .color_existente .fa-trash-alt {
	padding-left: 5px;
	color: red;
}

#editar_colores #tabla #color_nuevo td input[name="nombre"] {
	font-weight: bold;
}

#editar_colores #tabla #color_nuevo td input[name="codigo"] {
	width: 200px;
}

#editar_colores #tabla #color_nuevo #confirmar {
	padding-left: 15px;
	font-weight: bold;
}

#editar_colores #botones {
	width: 600px;
	margin: auto;
	margin-top: 30px;
}

