<div id="texto">
	<h1>Habilitaciones Comerciales</h1>
	<div id="comentarioH1">
		<p>Tenemos una dilatada experiencia en sus diferentes tipos y complejidades.</p>
		<p>Nuestro servicio profesional garantiza su aprobación, en los tipos de actividades que distingue la normativa de la Ciudad de Buenos Aires:</p>
	</div>
	<ul>
		<li>
			<h2>Comercios Minoristas y/o Mayoristas</h2>
			<p>Indumentaria, alimentos, electrodomésticos, etc...</p>
		</li>
		<li>
			<h2>Servicios y Espectáculos</h2>
			<p>Oficinas, peluquerías, agencias, salones de fiestas, centros culturales.</p>
		</li>
		<li>
			<h2>Especiales</h2>
			<p>Institutos de enseñanza, consultorios.</p>
		</li>
		<li>
			<h2>Industrias y Depósitos</h2>
			<p></p>
		</li>

	</ul>
</div>
<div id="imagenes">
	<img src="./imagenes/2-habilitaciones/Calle Florida.jpg" alt="">
</div>
