<section id="texto">
	<div id="titulo">
		<h1>Proyectos y Obras</h1>
	</div>
	<div id="botones">
		<button>
			Remodelación integral de edificios
		</button>
		<button>
			Remodelación de mediana escala
		</button>
		<button>
			Remodelaciones de menor escala
		</button>
	</div>
</section>
<section id="imagen">
	<div id="gran_escala"></div>
	<div id="mediana_escala" class="ocultar"></div>
	<div id="menor_escala" class="ocultar"></div>
</section>