<section id="texto">
	<div id="titulo">
		<h1>Proyectos y Obras</h1>
	</div>
	<div id="botones">
		<button>
			Remodelación integral de edificios
		</button>
		<button>
			Remodelación de mediana escala
		</button>
		<button>
			Remodelaciones de menor escala
		</button>
	</div>
</section>
<section id="imagen">
	<div id="gran_escala" class="flex-row justify-center">
		<img id="uno" src="./imagenes/3-proyectos/1-Gran escala 1.jpg">
		<img id="dos" src="./imagenes/3-proyectos/1-Gran escala 2.jpg">
		<img id="tres" src="./imagenes/3-proyectos/1-Gran escala 3.jpg">
	</div>
	<div id="mediana_escala" class="ocultar justify-center">
		<img id="uno" src="./imagenes/3-proyectos/2-Mediana escala 1.jpg">
		<img id="dos" src="./imagenes/3-proyectos/2-Mediana escala 2.jpg">
		<img id="tres" src="./imagenes/3-proyectos/2-Mediana escala 3.jpg">
	</div>
	<div id="menor_escala" class="ocultar justify-center">
		<img id="uno" src="./imagenes/3-proyectos/3-Menor escala 1.jpg">
		<img id="dos" src="./imagenes/3-proyectos/3-Menor escala 2.jpg">
		<img id="tres" src="./imagenes/3-proyectos/3-Menor escala 3.jpg">
	</div>
</section>