<section id="parte_texto">
	<div id="titulo">
		<h1>Proyectos y Obras</h1>
	</div>
	<div id="botones">
		<button>
			Remodelación integral de edificios
		</button>
		<button>
			Remodelación de mediana escala
		</button>
		<button>
			Remodelaciones de menor escala
		</button>
	</div>
</section>
<section id="parte-imagen">
	<img src="./imagenes/3-proyectos/1-Gran escala 1.jpg" alt="">
	<img class="ocultar" src="./imagenes/3-proyectos/2-Mediana escala 1.jpg" alt="">
	<img class="ocultar" src="./imagenes/3-proyectos/3-Menor escala 1.jpg" alt="">
</section>