<div id="parte_texto">
	<button>
		Remodelación integral de edificios
	</button>
	<button>
		Remodelación de mediana escala
	</button>
	<button>
		Remodelaciones de menor escala
	</button>
</div>
<div id="parte-imagen">
	<img src="./imagenes/3-proyectos/1-Gran escala 1.jpg" alt="">
	<img class="ocultar" src="./imagenes/3-proyectos/2-Mediana escala 1.jpg" alt="">
	<img class="ocultar" src="./imagenes/3-proyectos/3-Menor escala 1.jpg" alt="">
</div>