<h1><%= n.titulo_seccion %></h1>
<img src="/imagenes/4-servicios/<%= n.imagen.nombre %>" alt="<%= n.imagen.lugar %>"">
<h2>Habilitación de carteles comerciales</h2>
<h2>Obtención de certificado de conservación de fachadas</h2>
<p>según ley 6116 (ex 257)</p>
<h2>Asesoramiento en Seguridad e Higiene en la construcción</h2>