<section id="titulo">
	<div id="texto">
		<h1>Quiénes Somos</h1>
		<h2>Arq. José R. Costas</h2>
		<ul>
			<li>Soy un arquitecto con 25 años de experiencia en el ejercicio de la profesión en la cual desarrollo proyectos y obras de diferentes escalas.</li>
			<li>Cuento con una importante experiencia en ampliaciones y remodelaciones, como así también en habilitaciones comerciales de locales, empresas e industrias.</li>
			<li>Lidero un equipo de trabajo conformado por especialistas de diferentes rubros de obra.</li>
			<li>Nuestro objetivo es brindar un servicio profesional a nuestros clientes, con seriedad, honestidad y eficiencia.</li>
		</ul>
	</div>
	<div id="imagen">
		<a class="sinPointer" href="/login" target="_blank">
			<img src="/imagenes/5-quienes_somos/Avatar2.jpg" alt="">
		</a>
	</div>
</section>
<section id="clientes">
	<h2>Nuestros Clientes</h2>
	<ul>
		<% for (n of clientes) { %> 
			<li class="flex-col">
				<div id="imagen">
					<img src="/imagenes/5-quienes_somos/<%= n.imagen %> " alt="<%= n.nombre %>">
				</div>
				<p><%= n.nombre %></p>
			</li>
		<% } %> 
	</ul>
</section>