<section id="texto">
	<h1>Quiénes Somos</h1>
	<h2>Arq. José R. Costas</h2>
	<p>
		Arquitecto con 25 años de experiencia en el ejercicio de la profesión en la cual desarrollo proyectos y obras de diferentes escalas.
	</p>
	<p>
		Con una importante experiencia en ampliaciones y remodelaciones, como así también en habilitaciones comerciales de locales, empresas e industrias.
	</p>
	<p>
		Cuento con un equipo de trabajo conformado por especialistas de diferentes rubros de obra.
	</p>
	<p>
		Nuestro objetivo es brindar un servicio profesional a nuestros clientes, con seriedad, honestidad y eficiencia.
	</p>
</section>
<section>
		<img src="/imagenes/5-quienes_somos/Avatar.jpg" alt="">
</section>
