<h1>Contactanos</h1>
<section class="flex-row">
	<form action="/" method="POST" class="flex-col">
		<input type="text" name="nombre" placeholder="Nombre">
		<input type="text" name="mail" placeholder="E-Mail">
		<input type="text" name="telefono" placeholder="Teléfono (opcional)">
		<textarea name="mensaje" rows="8" placeholder="Mensaje"></textarea>
		<div id="submit" class="flex-row">
			<label for="soyHumano" class="noSeleccionable">3 + 4 =</label>
			<input type="text" name="soyHumano">
			<button type="submit">Enviar</button>
		</div>
	</form>
	<div id="texto" class="flex-col">
		<h2>Arq. José Ricardo Costas</h2>
		<p>Mat. CPAU 28.861</p>
		<br>
		<p>Celular: (11) 5462 2786</p>
		<p>Mail: josericardocostas@hotmail.com</p>
	</div>
</section>