<h1>Contactanos</h1>
<section class="flex-row">
	<form action="/" method="POST" class="flex-col">
		<input type="text" name="nombre" placeholder="Nombre">
		<input type="text" name="mail" placeholder="E-Mail">
		<input type="text" name="telefono" placeholder="Teléfono (opcional)">
		<textarea name="mensaje" rows="5" placeholder="Mensaje"></textarea>
	</form>
	<div class="texto flex-col">
		<h2>Arq. José Ricardo Costas</h2>
		<p>Mat. CPAU 28.861</p>
		<br>
		<p>Celular: (11) 5462 2786</p>
		<p>Mail: josericardocostas@hotmail.com</p>
		<br>
		<br>
		<br>
		<br>
		<br>
	</div>
</section>